.wrapper {
  height: 80px;
  position: sticky;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  .desktop_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;

    img {
      max-width: 150px;
    }

    ul {
      display: flex;
      align-items: center;
      gap: 30px;

      li {
        display: flex;
        align-items: center;
        cursor: pointer;
        svg {
          fill: black;
          color: black;
        }
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      gap: 20px;
      .hamburger {
        transform: scale(1.5);
        display: none;
        cursor: pointer;
      }
      .times {
        display: none;
        cursor: pointer;
        transform: scale(1.5);
      }
    }
  }

  .mobile_container {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .wrapper {
    height: 80px;
    .desktop_container {
      img {
        max-width: 150px;
      }
      ul {
        display: none;
      }

      .buttons {
        display: flex;
        align-items: center;
        gap: 20px;

        button {
          display: none;
        }
        .hamburger,
        .times {
          transform: scale(1.5);
          display: flex;
        }
      }
    }

    .mobile_container {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding-top: 40px;
      background-color: black;
      height: 100vh;
      align-items: flex-end;

      ul {
        display: flex;
        flex-direction: column;
        gap: 30px;
        color: white;
        direction: rtl;
      }
      .buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
        button {
          width: 200px;
        }
      }
    }
  }
}
@media screen and (min-width: 601px) and (max-width: 1100px) {
  .wrapper {
    height: 80px;
    .desktop_container {
      img {
        max-width: 180px;
      }
      ul {
        display: none;
      }

      .buttons {
        display: flex;
        align-items: center;
        gap: 20px;

        .hamburger,
        .times {
          transform: scale(1.5);
          display: flex;
        }
      }
    }

    .mobile_container {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding-top: 40px;
      background-color: black;
      height: 100vh;
      align-items: flex-end;

      ul {
        display: flex;
        flex-direction: column;
        gap: 30px;
        color: white;
        direction: rtl;
      }
      .buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
        button {
          display: none;
        }
      }
    }
  }
}
